<?xml version="1.0"?>

<launch>

    <arg name="move_forward_only" default="true"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find amr_description)/worlds/postoffice.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
      </include>
    
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(find amr_description)/urdf/amr_description_no_footprint.urdf.xacro" />
    
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model custom_amr"/>
    
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false"/>
  
      

<!-- Loading the map using map_server node -->
    <node pkg="map_server" type="map_server" name="map_server"
        args="$(find amr_description)/maps/postoffice.yaml"/>

<!-- Launching the file containing amcl node and amcl parameters -->        
    <include file="$(find amr_navigation_2)/launch/amcl_differential.launch"/>

<!-- Loading all the params in the move_base node-->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="false">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <rosparam command="load" file="$(find amr_navigation_2)/config/common_costmap.yaml" ns="global_costmap"/>
        <rosparam command="load" file="$(find amr_navigation_2)/config/common_costmap.yaml" ns="local_costmap"/>
        <rosparam command="load" file="$(find amr_navigation_2)/config/local_costmap.yaml"/>
        <rosparam command="load" file="$(find amr_navigation_2)/config/global_costmap.yaml"/>
        <rosparam command="load" file="$(find amr_navigation_2)/config/dwa_planner.yaml"/>
        <rosparam command="load" file="$(find amr_navigation_2)/config/move_base.yaml"/>
        
        <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)"/>
    </node>
    
<!-- Launching rviz with rviz configuration file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_description)/rviz_config/display_urdf.rviz"/> 


  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

 <arg name="addpose_topic" default="/initialpose"/>
 <arg name="posearray_topic" default="/waypoints"/>

  <node pkg="follow_waypoints" type="follow_waypoints" name="follow_waypoints" output="screen" clear_params="true">
    <param name="goal_frame_id" value="map"/>
    <param name="addpose_topic" value="$(arg addpose_topic)"/>
    <param name="posearray_topic" value="$(arg posearray_topic)"/>
  </node> 
</launch>